name: Publish Release Workflows
on:
  push:
    tags:
      - 'v*' # 标记 v 开头的 tag 时生效

permissions:
  contents: write

jobs:
  publishGitRelease:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # 替换为 Rust 环境配置
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: x86_64-unknown-linux-gnu # 根据需要添加目标平台

      - name: Compile and Package
        run: |
          chmod +x build.sh
          ./build.sh

      - name: Release
        uses: softprops/action-gh-release@v2  # 建议使用 v2
        with:
          files: target/release/open-tiku-api.tgz
          draft: true
          prerelease: false
          fail_on_unmatched_files: true
